<script>
  document.addEventListener("DOMContentLoaded", function () {
    const radioButtons = document.querySelectorAll(".theme-radio");

    radioButtons.forEach((radio) => {
      radio.addEventListener("change", function () {
        // Remove active classes from all labels
        document.querySelectorAll(".theme-border").forEach((border) => {
          border.classList.remove("border-indigo-500");
        });
        document.querySelectorAll(".theme-border").forEach((border) => {
          border.classList.add("border-transparent");
        });
        document.querySelectorAll(".theme-icon").forEach((icon) => {
          icon.classList.add("hidden");
        });

        // Add active classes to the selected label
        const index = this.getAttribute("data-index");
        this.closest("label")
          .querySelector(".theme-border")
          .classList.remove("border-transparent");
        this.closest("label")
          .querySelector(".theme-border")
          .classList.add("border-indigo-500");
        this.closest("label")
          .querySelector(".theme-icon")
          .classList.remove("hidden");
      });
    });
  });
</script>

<fieldset>
  <legend class="text-base font-medium text-gray-900">Select a theme*</legend>
  <div class="mt-1 flex items-center text-sm text-gray-500">
    Select one of the theme that fit best to your business, you can change it
    later whenever you want
  </div>

  <div class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4">
    {{ range $index, $theme := .content.themes }}
      <label
        class="relative flex cursor-pointer rounded-lg border bg-white p-4 shadow-sm focus:outline-none">
        <input
          type="radio"
          name="entry.1271136038"
          value="{{ $theme.name }}"
          class="sr-only theme-radio"
          required
          aria-labelledby="theme-{{ $index }}-label"
          aria-describedby="theme-{{ $index }}-description"
          data-index="{{ $index }}" />
        <span class="flex flex-1">
          <span class="flex flex-col">
            <span
              id="theme-{{ $index }}-label"
              class="block text-sm font-medium text-gray-900">
              {{ $theme.name }}
            </span>
            <span id="theme-{{ $index }}-description" class="mt-6">
              <img
                class="rounded-md"
                src="{{ $theme.thumbnail }}"
                alt="{{ $theme.name }}" />
            </span>
          </span>
        </span>
        <svg
          class="h-5 w-5 text-indigo-600 hidden theme-icon"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true">
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd" />
        </svg>
        <span
          class="pointer-events-none absolute -inset-px rounded-lg border-2 border-transparent theme-border"
          aria-hidden="true"></span>
      </label>
    {{ end }}
    <a
      href="/contact-us"
      class="relative flex cursor-pointer rounded-lg border bg-white p-4 shadow-sm focus:outline-none">
      <span class="flex flex-1">
        <span class="flex flex-col">
          <span class="block text-sm font-medium text-gray-900">
            Custom Theme
          </span>
          <span class="mt-1 flex items-center text-sm text-gray-500">
            For custom theme contact us
          </span>
          <span class="mt-6">
            <img
              class="rounded-md"
              src="/images/features/custom-theme.png"
              alt="Custom theme" />
          </span>
        </span>
      </span>
    </a>
  </div>
</fieldset>
