{{ define "main" }}
  <h1 class="text-gray-900 bg-red-300">List page</h1>
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus illo
    delectus dignissimos officiis saepe, necessitatibus tempora officia natus,
    dolorem animi corporis cumque nobis? Sunt, commodi rem reiciendis dolorem
    perspiciatis officia! Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Nisi molestias dolorum, aliquam eveniet neque, nam perferendis
    voluptas ipsa ab accusamus assumenda quidem reiciendis in cupiditate libero
    corporis minus. Asperiores, aliquam.
  </div>
{{ end }}
