<!-- Mobile menu, show/hide based on menu open state. -->
<div id="mobile-menu" class="hidden" role="dialog" aria-modal="true">
  <div
    focus="true"
    class="fixed inset-0 z-10 overflow-y-auto bg-white px-6 py-6 lg:hidden">
    <div class="flex items-center justify-between">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">{{ .Title }}</span>
        <img class="h-8" src="{{ .Site.Params.logo }}" alt="{{ .Title }}" />
      </a>
      <button
        onclick="toggleMenu()"
        type="button"
        class="-m-2.5 rounded-md p-2.5 text-gray-700">
        <span class="sr-only">Close menu</span>
        <!-- Heroicon name: outline/x-mark -->
        <svg
          class="h-6 w-6"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <div class="mt-6 flow-root">
      <div class="-my-6 divide-y divide-gray-500/10">
        <div class="space-y-2 py-6">
          {{ range .Site.Menus.main }}
            <a
              href="{{ .URL }}"
              class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10">
              {{ .Name }}
            </a>
          {{ end }}
        </div>
        <div class="py-6">
          {{ range .Site.Menus.buttons }}
            <a
              href="{{ .URL }}"
              class="-mx-3 block rounded-lg py-2.5 px-3 text-base font-semibold leading-6 text-gray-900 hover:bg-gray-400/10">
              {{ .Name }}
            </a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
